* {
  margin: 0;
  padding: 0;
}
$base-font-size: 16px;
$cyan: rgb(0, 183, 255);
$cyanClaro: rgb(74, 200, 250);
$cyanOscuro: rgb(2, 143, 199);

body {
  font-size: $base-font-size;
  color: $cyan;
}

div.principal {
  display: flex;
  justify-content: center;
  background-image: url("https://www.azteko.com.mx/wp-content/uploads/2019/06/reparando-computadora.jpg");
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.35);
}

div.contenedor {
    display: flex;
    justify-content: center;
    margin: 100px;
    align-items: center;
}


img.imagenPrincipal{
    width: 480px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.35);
}

.titulo {
  color: white;
  font-weight: bolder;
  font-size: 64px;
  text-shadow: 3px 3px 6px rgb(0, 0, 0);
}

.topnav {
  background-color: $cyan;
  overflow: hidden;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.35);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: $cyanClaro;
  color: black;
}

.topnav a.active {
  background-color: $cyanOscuro;
  color: white;
}
